# **Final Exam: Video Game Sales and Ratings**
![Python for Data Analysts](https://github.com/renan-peres/mfin-python-data-analysts/blob/main/images/final_exam_banner.png?raw=1)

## **Overview**
This project was developed by [Renan Peres](https://www.linkedin.com/in/renanperes/) for the ***Python for Data Analysts: Methods & Tools*** (DAT-7466 - BMFIN1) final exam in the in Spring 2025, led by Professor [Michael de la Maza](https://www.linkedin.com/in/michaeldelamaza/).


## **Dataset Context**

**Data Source**: https://www.kaggle.com/datasets/thedevastator/video-game-sales-and-ratings

The Video Games Sales and Ratings Dataset provides an in-depth view into the dynamic world of video games, offering a comprehensive analysis of sales and ratings across diverse platforms and publishers. This dataset contains valuable facets of information that bring to light various insights about the video game industry over the years.

The dataset includes critical aspects such as the Name of each individual video game which was accounted for in this data aggregation process. The name captures the branded title under which a specific game is marketed and sold within the global market.

## **Contents**
- [Prepare Environmnet](#prepare-environment)
- [Import Dataset](#download--import-datasets)
- [Exploratory Data Analysis (EDA)](#exploratory-data-analysis-eda)
  - Descriptive statistics
  - Missing values or errors in the dataset
- [Data Cleaning & Transformation](#data-cleaning--transformation)
  - Selecting rows, columns, cells
  - Dropping and adding rows and columns
  - Filtering
  - Sorting
- [Data Analysis & Visualization](#data-analysis--visualization)
  - [Orders](#orders)
  - [Items](#items)
  - [Order Type](#order-type)
- [Insights & Recommendations](#insights--recommendations)
  - [Where should the new restaurant be located?](#q1-where-should-the-new-restaurant-be-located)
  - [Which items should be included in the new restaurant?](#q2-which-items-should-be-included-in-the-new-restaurant)
  - [What type of restaurant should it be?](#q3-what-type-of-restaurant-should-it-be)

## **Prepare Environment**
Have a jupyter environment ready, and import or `pip install` these libraries:

In [1]:
# !pip install -q gdown -q highcharts-core -q kaleido

import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import matplotlib.ticker as ticker
import plotly.express as px
import plotly.graph_objects as go
# from highcharts_core.chart import Chart

import statsmodels.api as sm
from typing import Tuple, List, Dict
import os

## **Import Dataset**
Import the `Video_Games.csv` dataset from [Kaggle](https://www.kaggle.com/datasets/thedevastator/video-game-sales-and-ratings)

In [2]:
import pandas as pd

df = pd.read_csv('Video_Games.csv')
print(df.shape)
df.head()

(16928, 17)

,index,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
0,0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8,322.0,Nintendo,E
1,1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN,NaN,NaN,NaN,NaN,NaN
2,2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,Nintendo,E
3,3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8,192.0,Nintendo,E
4,4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,NaN,NaN,NaN,NaN,NaN,NaN

## **Initial Exploratory Data Analysis (EDA)**

### DataFrame Columns and Data Types

In [3]:
df.dtypes
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16928 entries, 0 to 16927
Data columns (total 17 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   index            16928 non-null  int64
 1   Name             16926 non-null  object
 2   Platform         16928 non-null  object
 3   Year_of_Release  16655 non-null  float64
 4   Genre            16926 non-null  object
 5   Publisher        16873 non-null  object
 6   NA_Sales         16928 non-null  float64
 7   EU_Sales         16928 non-null  float64
 8   JP_Sales         16928 non-null  float64
 9   Other_Sales      16928 non-null  float64
 10  Global_Sales     16928 non-null  float64
 11  Critic_Score     8260 non-null   float64
 12  Critic_Count     8260 non-null   float64
 13  User_Score       10159 non-null  object
 14  User_Count       7718 non-null   float64
 15  Developer        10240 non-null  object
 16  Rating           10092 non-null  object
dtypes: float64(9), int64(1), object(7)
memory usage: 2.2+ MB

### Profile DataFrame
- Null Rows
- Duplicate Rows

In [4]:
def profile_table(df: pd.DataFrame) -> pd.DataFrame: # Change return type to pd.DataFrame
    # Calculate metrics and gather information
    total_rows = df.shape[0]
    total_columns = df.shape[1]
    null_rows = df.isnull().all(axis=1).sum() # If all cells shows as Null
    # null_rows = df.isnull().any(axis=1).sum() # If any cell is Null
    duplicate_rows = df.duplicated().sum()

    result_df = pd.DataFrame({
        "total_rows": [total_rows],
        "total_columns": [total_columns],
        "null_rows": [null_rows],
        "duplicate_rows": [duplicate_rows]
    }).transpose()

    #Rename columns for clarity
    result_df.columns = ['Value']
    result_df.index = ['Total Rows','Total Columns', 'Null Rows', 'Duplicate Rows']

    return result_df  # Return the transposed DataFrame

In [5]:
initial_profile = profile_table(df)
display(initial_profile)

                Value
Total Rows      16928
Total Columns      17
Null Rows           0
Duplicate Rows      0

### Missing Values

In [6]:
df.isnull().sum().rename('Missing Values').to_frame()

                 Missing Values
index                         0
Name                          2
Platform                      0
Year_of_Release             273
Genre                         2
Publisher                    55
NA_Sales                      0
EU_Sales                      0
JP_Sales                      0
Other_Sales                   0
Global_Sales                  0
Critic_Score               8668
Critic_Count               8668
User_Score                 6769
User_Count                 9210
Developer                  6688
Rating                     6836

### Summary Statistics

In [7]:
df.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
index,16928.0,8463.500000,4886.837014,0.00,4231.75,8463.50,12695.25,16927.00
Year_of_Release,16655.0,2006.485320,5.882890,1980.00,2003.00,2007.00,2010.00,2020.00
NA_Sales,16928.0,0.266390,0.814326,0.00,0.00,0.08,0.24,41.36
EU_Sales,16928.0,0.146850,0.504585,0.00,0.00,0.02,0.11,28.96
JP_Sales,16928.0,0.078170,0.308756,0.00,0.00,0.00,0.04,10.22
Other_Sales,16928.0,0.047861,0.186675,0.00,0.00,0.01,0.04,10.57
Global_Sales,16928.0,0.539520,1.550545,0.01,0.06,0.17,0.49,82.53
Critic_Score,8260.0,69.037893,13.943198,13.00,60.00,71.00,79.00,98.00
Critic_Count,8260.0,26.428692,18.989929,3.00,12.00,22.00,36.00,113.00
User_Count,7718.0,163.269629,562.786746,4.00,10.00,25.00,82.00,10665.00

## **Data Cleaning & Preparation**

### Trim Leading Spaces & Change to Proper Case (Text Columns)

In [8]:
# Trim leading and trailing spaces, as well as spaces in between
for col in df.select_dtypes(include=['object']).columns:
    df[col] = df[col].str.strip() # Trimn Leading Spaces
    df[col] = df[col].str.title() # Change to Proper Case

### Drop Null Rows

In [9]:
# If row is blank
df.dropna(axis=0, how='all', inplace=True)

# If one in the row is blank
df_clean = df
df_clean = df_clean.dropna(axis=0, how='any')

### Drop `index` Column

In [10]:
df_clean.drop(columns=['index'], inplace=True)

<ipython-input-10-fcc3d6353048>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clean.drop(columns=['index'], inplace=True)

### Sort DataFrame by `Year_of_Release`

In [11]:
df_clean = (df_clean
            .sort_values(by=['Year_of_Release'], ascending=[True])
            .reset_index(drop=True))

df_clean.head()

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
0,Alter Ego,Pc,1985.0,Simulation,Activision,0.00,0.03,0.00,0.01,0.03,59.0,9.0,5.8,19.0,"Viva Media, Viva Media, Llc",T
1,Simcity,Pc,1988.0,Simulation,Maxis,0.00,0.02,0.00,0.01,0.03,64.0,75.0,2.2,4572.0,Maxis,E10+
2,Doom,Pc,1992.0,Shooter,Id Software,0.02,0.00,0.00,0.00,0.03,85.0,44.0,8.2,1796.0,Id Software,M
3,Battle Arena Toshinden,Ps,1994.0,Fighting,Sony Computer Entertainment,0.39,0.26,0.53,0.08,1.27,69.0,4.0,6.3,4.0,Tamsoft,T
4,Parappa The Rapper,Ps,1996.0,Misc,Sony Computer Entertainment,0.26,0.16,1.46,0.03,1.92,92.0,15.0,7.4,48.0,Nanaon-Sha,K-A

## **After Cleaning Exploratory Data Analysis (EDA)**

### Profile DataFrame (Before)

In [12]:
display(profile_table(df))

                Value
Total Rows      16928
Total Columns      17
Null Rows           0
Duplicate Rows      0

### Profile DataFrame (After)

In [13]:
display(profile_table(df_clean))

                Value
Total Rows       6938
Total Columns      16
Null Rows           0
Duplicate Rows    113

### Missing Values (Before)

In [14]:
print(df.shape)

df.isnull().sum()

(16928, 17)

index                 0
Name                  2
Platform              0
Year_of_Release     273
Genre                 2
Publisher            55
NA_Sales              0
EU_Sales              0
JP_Sales              0
Other_Sales           0
Global_Sales          0
Critic_Score       8668
Critic_Count       8668
User_Score         6769
User_Count         9210
Developer          6688
Rating             6836
dtype: int64

### Missing Values (After)

In [15]:
print(df_clean.shape)

df_clean.isnull().sum()

(6938, 16)

Name               0
Platform           0
Year_of_Release    0
Genre              0
Publisher          0
NA_Sales           0
EU_Sales           0
JP_Sales           0
Other_Sales        0
Global_Sales       0
Critic_Score       0
Critic_Count       0
User_Score         0
User_Count         0
Developer          0
Rating             0
dtype: int64

### Summary Statistics (Before)

In [16]:
df.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
index,16928.0,8463.500000,4886.837014,0.00,4231.75,8463.50,12695.25,16927.00
Year_of_Release,16655.0,2006.485320,5.882890,1980.00,2003.00,2007.00,2010.00,2020.00
NA_Sales,16928.0,0.266390,0.814326,0.00,0.00,0.08,0.24,41.36
EU_Sales,16928.0,0.146850,0.504585,0.00,0.00,0.02,0.11,28.96
JP_Sales,16928.0,0.078170,0.308756,0.00,0.00,0.00,0.04,10.22
Other_Sales,16928.0,0.047861,0.186675,0.00,0.00,0.01,0.04,10.57
Global_Sales,16928.0,0.539520,1.550545,0.01,0.06,0.17,0.49,82.53
Critic_Score,8260.0,69.037893,13.943198,13.00,60.00,71.00,79.00,98.00
Critic_Count,8260.0,26.428692,18.989929,3.00,12.00,22.00,36.00,113.00
User_Count,7718.0,163.269629,562.786746,4.00,10.00,25.00,82.00,10665.00

### Summary Statistics (After)

In [17]:
df_clean.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
Year_of_Release,6938.0,2007.439176,4.211382,1985.00,2004.00,2007.00,2011.00,2016.00
NA_Sales,6938.0,0.398629,0.968128,0.00,0.06,0.15,0.40,41.36
EU_Sales,6938.0,0.238902,0.688026,0.00,0.02,0.06,0.21,28.96
JP_Sales,6938.0,0.064818,0.287391,0.00,0.00,0.00,0.01,6.50
Other_Sales,6938.0,0.083410,0.269207,0.00,0.01,0.02,0.07,10.57
Global_Sales,6938.0,0.785930,1.964805,0.01,0.11,0.30,0.75,82.53
Critic_Score,6938.0,70.323292,13.873644,13.00,62.00,72.00,81.00,98.00
Critic_Count,6938.0,28.979533,19.224548,3.00,14.00,25.00,39.00,113.00
User_Count,6938.0,175.974632,589.125129,4.00,11.00,27.00,89.00,10665.00

## **Data Analysis & Visualization**

In [18]:
print(df.shape)

df.head()

,index,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
0,0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8,322.0,Nintendo,E
1,1,Super Mario Bros.,Nes,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN,NaN,NaN,NaN,NaN,NaN
2,2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,Nintendo,E
3,3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8,192.0,Nintendo,E
4,4,Pokemon Red/Pokemon Blue,Gb,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
print(df_clean.shape)

df_clean.head()

(6938, 16)

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
0,Alter Ego,Pc,1985.0,Simulation,Activision,0.00,0.03,0.00,0.01,0.03,59.0,9.0,5.8,19.0,"Viva Media, Viva Media, Llc",T
1,Simcity,Pc,1988.0,Simulation,Maxis,0.00,0.02,0.00,0.01,0.03,64.0,75.0,2.2,4572.0,Maxis,E10+
2,Doom,Pc,1992.0,Shooter,Id Software,0.02,0.00,0.00,0.00,0.03,85.0,44.0,8.2,1796.0,Id Software,M
3,Battle Arena Toshinden,Ps,1994.0,Fighting,Sony Computer Entertainment,0.39,0.26,0.53,0.08,1.27,69.0,4.0,6.3,4.0,Tamsoft,T
4,Parappa The Rapper,Ps,1996.0,Misc,Sony Computer Entertainment,0.26,0.16,1.46,0.03,1.92,92.0,15.0,7.4,48.0,Nanaon-Sha,K-A

In [20]:
# Select a column

df['Pregnancies']

KeyError: 'Pregnancies'

In [ ]:
# Select a row
df.iloc[0]

In [ ]:
row_25 = df.iloc[24]

In [ ]:
row_25

In [ ]:
# 5 minute exercise
# 1. Select the column 'SkinThickness' and assign it to the variable skinthickness

skinthickness = df['SkinThickness']
skinthickness

In [ ]:
# 2. Select the 25th row from skinthickness and assign it to the variable row_25
row_25 = skinthickness.iloc[24]
row_25

In [ ]:
# Select a cell
# row x column format
print(df.iloc[0,0])
print(df.iloc[0,1])
print(df.iloc[1,0])

In [ ]:
# Return a dataframe

df[['Pregnancies']]

In [ ]:
# Return a dataframe with two columns

df[['Pregnancies','SkinThickness']]

In [ ]:
# 3 minute exercise
# Return a dataframe with 'Age', 'Insulin', and 'Outcome'
df[['Age','Insulin','Outcome']]

## **Filter Columns**

### **Single Parameter**

In [ ]:
# Filter rows by outcome

outcome_1 = df[df['Outcome']==1]
outcome_1

In [ ]:
df['Outcome']==1

In [ ]:
# Filter rows by SkinThickness > 30

skinthickness_30 = df[df['SkinThickness']>30]

skinthickness_30

### **2 Different Parameters**

In [ ]:
# 5 minute exercise
# Return all rows with Glucose greater than 100 (exclusive) and less than 130 (exclusive)
filtered_df = df[(df['Glucose'] > 100) & (df['Glucose'] < 130)]
filtered_df

In [ ]:
glucose_g100 = df[df['Glucose']>100]
glucose_g100

glucose_g100_l130 = glucose_g100[glucose_g100['Glucose']<130]
glucose_g100_l130

### **isin() Syntax**

In [ ]:
# Using the 'isin keyword'

pregnancies = [0, 1, 2]

pregnancies_2 = df[df["Pregnancies"].isin(pregnancies)]

pregnancies_2

In [ ]:
# 5 minute exercise
# Use the isin keyword to return rows in which Age = 30, 31, or 32

ages = [30, 31, 32]

ages_30_31_32 = df[df["Age"].isin(ages)]

ages_30_31_32

## **Predictions**

In [ ]:
## Mini project
# Client wants to know: Does high blood glucose increase the chances of diabetes (outcome=1)?

# 5 minute exercise
# Discuss how you would answer this question given the dataset
# Write down your approach
# You do not need to write any code

# Avg glucose when Outcome is 0 (no diabetes)
avg_glucose_outcome_0 = df[df['Outcome'] == 0]['Glucose'].mean()

# Avg glucose when Outcome is 1 (diabetes)
avg_glucose_outcome_1 = df[df['Outcome'] == 1]['Glucose'].mean()

# Print out the results
print("Average Glucose when Outcome is 0:", avg_glucose_outcome_0)
print("Average Glucose when Outcome is 1:", avg_glucose_outcome_1)

In [ ]:
# Compare people with low glucose to people with high glucose

glucose_cutoff = 120

# Low glucose, no diabetes
l_glu_no_diab = df[(df['Glucose'] < glucose_cutoff) & (df['Outcome'] == 0)].shape[0]
print("Number of people with low glucose and no diabetes")
print(l_glu_no_diab)

# Low glucose, diabetes
l_glu_diab = df[(df['Glucose'] < glucose_cutoff) & (df['Outcome'] == 1)].shape[0]
print("Number of people with low glucose and diabetes")
print(l_glu_diab)

# High glucose, no diabetes
h_glu_no_diab = df[(df['Glucose'] >= glucose_cutoff) & (df['Outcome'] == 0)].shape[0]
print("Number of people with high glucose and no diabetes")
print(h_glu_no_diab)

# High glucose, diabetes
h_glu_diab = df[(df['Glucose'] >= glucose_cutoff) & (df['Outcome'] == 1)].shape[0]
print("Number of people with high glucose and diabetes")
print(h_glu_diab)

# Percentage of people with low glucose with diabetes
l_glu_diab_perc = l_glu_diab/(l_glu_no_diab+l_glu_diab)

# Percentage of people with high glucose with diabetes
h_glub_diab_perc = h_glu_diab/(h_glu_no_diab+h_glu_diab)

# Print results
print("Percentage of people with LOW glucose with diabetes")
print(l_glu_diab_perc)
print("Percentage of people with HIGH glucose with diabetes")
print(h_glub_diab_perc)

## **Visualization**

In [ ]:
# 5 minute exercise
# Rerun with a higher glucose_cutoff
# Explain each number
# What is your conclusion? How would you explain it to a business?

In [ ]:
# Visualization

plt.figure(figsize=(10, 6))
plt.scatter(df[df['Outcome'] == 0]['Glucose'], df[df['Outcome'] == 0]['Outcome'], label='Outcome 0', alpha=0.5)
plt.scatter(df[df['Outcome'] == 1]['Glucose'], df[df['Outcome'] == 1]['Outcome'], label='Outcome 1', alpha=0.5, color='orange')

plt.title('Scatter Plot of Glucose Levels vs. Outcome')
plt.xlabel('Glucose Level')
plt.ylabel('Outcome')
plt.yticks([0, 1], ['Outcome 0', 'Outcome 1'])
plt.legend()

# Show the plot
plt.show()

In [ ]:
# Better Visualization
import seaborn as sns
import matplotlib.pyplot as plt

# Create the box plot
plt.figure(figsize=(10, 6))
sns.boxplot(x='Outcome', y='Glucose', data=df)

# Add titles and labels
plt.title('Comparison of Glucose Levels by Outcome')
plt.xlabel('Outcome')
plt.ylabel('Glucose Level')

# Show the plot
plt.show()

In [ ]:
# Create a dataframe

scores = [
    {'Subject':'Mathematics', 'Score':85, 'Grade':'B', 'Remarks': 'Good'},
    {'Subject':'History', 'Score':98, 'Grade':'A', 'Remarks': 'Excellent'},
    {'Subject':'English', 'Score':76, 'Grade':'C', 'Remarks': 'Fair'},
    {'Subject':'Science', 'Score':72, 'Grade':'C', 'Remarks': 'Fair'},
    {'Subject':'Arts', 'Score':95, 'Grade':'A', 'Remarks': 'Excellent'}
]

my_df = pd.DataFrame(scores)
my_df.head()

In [ ]:
# What is the type of scores?
type(scores)

In [ ]:
# 3 minute exercise
# Add another row with subject 'Python' to my_df

In [ ]:
# Print out second row
# Remember that numbering starts with 0
print(my_df.loc[1])

In [ ]:
# Print out a sequence of rows
my_df.loc[2:4]

In [ ]:
# Show only Grade and Score

my_df.loc[2:4, ["Grade","Score"]]

In [ ]:
# Add an index to dataframe

scores = [
    {'Subject':'Mathematics', 'Score':85, 'Grade':'B', 'Remarks': 'Good'},
    {'Subject':'History', 'Score':98, 'Grade':'A', 'Remarks': 'Excellent'},
    {'Subject':'English', 'Score':76, 'Grade':'C', 'Remarks': 'Fair'},
    {'Subject':'Science', 'Score':72, 'Grade':'C', 'Remarks': 'Fair'},
    {'Subject':'Arts', 'Score':95, 'Grade':'A', 'Remarks': 'Excellent'}
]

my_df = pd.DataFrame(scores, index=["Student1", "Student2", "Student3","Student4", "Student5"])
my_df

In [ ]:
my_df.loc["Student1"]

In [ ]:
# Reference multiple rows

index_list = ["Student1","Student2"]
my_df.loc[index_list]

In [ ]:
# Return only Grade column
my_df.loc["Student1", "Grade"]

In [ ]:
# Return a range of students, Grade only

my_df.loc["Student1":"Student3","Grade"]

In [ ]:
# Multiple Boolean conditions

my_df.loc[(my_df["Score"]>80) & (my_df["Remarks"] == "Excellent")]

In [ ]:
# Return only certain columns

my_df.loc[(my_df["Score"]>80) & (my_df["Remarks"] == "Excellent"), ["Score","Grade"]]

In [ ]:
# Can set values!

print(my_df)

my_df.loc["Student4"] = 90

print(my_df)

In [ ]:
# 5 minute exercise
# Change the Score of Student 3 to 97

print(my_df)
my_df.loc["Student3", "Score"] = 97
print(my_df)

In [ ]:
# loc is index based
# iloc is integer based

In [ ]:
# Define new scores

scores = [
    {'Subject':'Mathematics', 'Score':85, 'Grade':'B', 'Remarks': 'Good'},
    {'Subject':'History', 'Score':98, 'Grade':'A', 'Remarks': 'Excellent'},
    {'Subject':'English', 'Score':76, 'Grade':'C', 'Remarks': 'Fair'},
    {'Subject':'Science', 'Score':72, 'Grade':'C', 'Remarks': 'Fair'},
    {'Subject':'Arts', 'Score':95, 'Grade':'A', 'Remarks': 'Excellent'}
]

my_df = pd.DataFrame(scores)
my_df

In [ ]:
# Return 3rd (remember 0 based)

my_df.iloc[3]

In [ ]:
# Return as DataFrame

my_df.iloc[[3]]

In [ ]:
print(type(my_df.iloc[3]))
print(type(my_df.iloc[[3]]))

In [ ]:
# Return a range
my_df.iloc[2:5]

In [ ]:
# Select rows and columns

my_df.iloc[[2,3],[0,1]]

In [ ]:
# Can pass a range

my_df.iloc[2:4, 0:2]

## Dropping Rows and Columns

In [ ]:
scores = [
    {'Subject':'Mathematics', 'Score':85, 'Grade':'B', 'Remarks': 'Good'},
    {'Subject':'History', 'Score':98, 'Grade':'A', 'Remarks': 'Excellent'},
    {'Subject':'English', 'Score':76, 'Grade':'C', 'Remarks': 'Fair'},
    {'Subject':'Science', 'Score':72, 'Grade':'C', 'Remarks': 'Fair'},
    {'Subject':'Arts', 'Score':95, 'Grade':'A', 'Remarks': 'Excellent'}
]

my_df = pd.DataFrame(scores)
my_df

In [ ]:
# Drop 1 and 4 rows

my_df2 = my_df.drop([1,4])
my_df2

In [ ]:
# Reset the index

my_df2.reset_index(inplace=True) # inplace means to change dataframe, not return value
my_df2

In [ ]:
# Difference between inplace and not

print(my_df)
print(my_df.drop([1,3,4]))
print(my_df)

In [ ]:
# Now with inplace=True
print(my_df)
print(my_df.drop([1,3,4], inplace=True))
print(my_df)

In [ ]:
# Drop columns
scores = [
    {'Subject':'Mathematics', 'Score':85, 'Grade':'B', 'Remarks': 'Good'},
    {'Subject':'History', 'Score':98, 'Grade':'A', 'Remarks': 'Excellent'},
    {'Subject':'English', 'Score':76, 'Grade':'C', 'Remarks': 'Fair'},
    {'Subject':'Science', 'Score':72, 'Grade':'C', 'Remarks': 'Fair'},
    {'Subject':'Arts', 'Score':95, 'Grade':'A', 'Remarks': 'Excellent'}
]

my_df = pd.DataFrame(scores)
my_df

In [ ]:

my_df2 = my_df.drop(["Subject","Grade"], axis=1) # axis=1 specifies columns
my_df2

In [ ]:
# 2 minute exercise
# What happens if you rerun the code with axis=0?

## Filtering rows and columns

Keeps rows and columns. The opposite of drop.

In [ ]:
scores = [
    {'Subject':'Mathematics', 'Score':85, 'Grade':'B', 'Remarks': 'Good'},
    {'Subject':'History', 'Score':98, 'Grade':'A', 'Remarks': 'Excellent'},
    {'Subject':'English', 'Score':76, 'Grade':'C', 'Remarks': 'Fair'},
    {'Subject':'Science', 'Score':72, 'Grade':'C', 'Remarks': 'Fair'},
    {'Subject':'Arts', 'Score':95, 'Grade':'A', 'Remarks': 'Excellent'}
]

my_df = pd.DataFrame(scores)
my_df

In [ ]:
my_df2 = my_df.filter([1,3,4], axis=0)
my_df2

In [ ]:
# 5 minute exercise
# Rerun the code with axis=1
# Explain the results

In [ ]:
my_df2 = my_df.filter(["Score","Grade"],axis=1)
my_df2

In [ ]:
# Match substring
my_df[my_df['Subject'].str.contains('is')]

## Sorting

In [ ]:
df.head()

In [ ]:
# Sort by age
df_sorted = df.sort_values(by='Age')
df_sorted.head()

In [ ]:
# Descending order?
df_descending = df.sort_values(by='Age', ascending=False)
df_descending

In [ ]:
# 5 minute exercise
# What is the index of the row with the highest blood pressure?

In [ ]:
# Sort by multiple keys. If two rows are equal per the first key, then sort by the second key.

df_sort2 = df.sort_values(by = ['Age','BloodPressure'])
df_sort2.head()

## Descriptive statistics

In [ ]:
# Descriptive statistics for entire dataframe

df.describe()

In [ ]:
# 5 minute exercise
# What does each row mean?

In [ ]:
# Single column statistics

df['Pregnancies'].describe()

In [ ]:
# Find the unique values
df['Age'].unique()

In [ ]:
# Find the number of unique values
df['Age'].nunique()

In [ ]:
# Count non-null values

df.count()

In [ ]:
# How many people are there of each age?

df['Age'].value_counts()

In [ ]:
# Plot number of people of each age
age_counts = df['Age'].value_counts()

age_counts.plot(kind='bar')

In [ ]:
# 5 minute exercise
# How many people have 3 pregnancies?

In [ ]:
# 5 minute exercise
# Plot the number of pregnancies by age

In [ ]:
# 5 minute exercise
# Use Text to add titles to the first part of this file