# **Final Exam: Video Game Sales and Ratings**
![Python for Data Analysts](https://github.com/renan-peres/mfin-python-data-analysts/blob/main/images/final_exam_banner.png?raw=1)

## **Overview**
This project was developed by [Renan Peres](https://www.linkedin.com/in/renanperes/) for the ***Python for Data Analysts: Methods & Tools*** (DAT-7466 - BMFIN1) final exam in the in Spring 2025, led by Professor [Michael de la Maza](https://www.linkedin.com/in/michaeldelamaza/).


## **Dataset Context**

**Data Source**: Video Game Sales and Ratings: https://www.kaggle.com/datasets/thedevastator/video-game-sales-and-ratings

The Video Games Sales and Ratings Dataset provides an in-depth view into the dynamic world of video games, offering a comprehensive analysis of sales and ratings across diverse platforms and publishers. This dataset contains valuable facets of information that bring to light various insights about the video game industry over the years.

The dataset includes critical aspects such as the Name of each individual video game which was accounted for in this data aggregation process. The name captures the branded title under which a specific game is marketed and sold within the global market.

## **Contents**
- [Prepare Environmnet](#prepare-environment)
- [Import Dataset](#download--import-datasets)
- [Exploratory Data Analysis (EDA)](#exploratory-data-analysis-eda)
  - Descriptive statistics
  - Missing values or errors in the dataset
- [Data Cleaning & Transformation](#data-cleaning--transformation)
  - Selecting rows, columns, cells
  - Dropping and adding rows and columns
  - Filtering
  - Sorting
- [Data Analysis & Visualization](#data-analysis--visualization)
  - [Orders](#orders)
  - [Items](#items)
  - [Order Type](#order-type)
- [Insights & Recommendations](#insights--recommendations)
  - [Where should the new restaurant be located?](#q1-where-should-the-new-restaurant-be-located)
  - [Which items should be included in the new restaurant?](#q2-which-items-should-be-included-in-the-new-restaurant)
  - [What type of restaurant should it be?](#q3-what-type-of-restaurant-should-it-be)

## **Prepare Environment**
Have a jupyter environment ready, and import or `pip install` these libraries:

In [ ]:
# !pip install -q gdown -q highcharts-core -q kaleido

import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import matplotlib.ticker as ticker
import plotly.express as px
import plotly.graph_objects as go
# from highcharts_core.chart import Chart

import statsmodels.api as sm
from typing import Tuple, List, Dict
import os

## **Import Dataset**
Import the `Video_Games.csv` dataset from [Kaggle](https://www.kaggle.com/datasets/thedevastator/video-game-sales-and-ratings)

In [ ]:
import pandas as pd

df = pd.read_csv('Video_Games.csv')
print(df.shape)
df.head()

## **Exploratory Data Analysis (EDA)**

In [ ]:
df.info()

### Missing Value

In [ ]:
# Are there any missing values? No
df.isnull().sum()

### Descriptive Statistics

In [ ]:
df.describe().transpose()

## **Select Column/Row**

In [ ]:
# Select a column

df['Pregnancies']

In [ ]:
# Select a row
df.iloc[0]

In [ ]:
row_25 = df.iloc[24]

In [ ]:
row_25

In [ ]:
# 5 minute exercise
# 1. Select the column 'SkinThickness' and assign it to the variable skinthickness

skinthickness = df['SkinThickness']
skinthickness

In [ ]:
# 2. Select the 25th row from skinthickness and assign it to the variable row_25
row_25 = skinthickness.iloc[24]
row_25

In [ ]:
# Select a cell
# row x column format
print(df.iloc[0,0])
print(df.iloc[0,1])
print(df.iloc[1,0])

In [ ]:
# Return a dataframe

df[['Pregnancies']]

In [ ]:
# Return a dataframe with two columns

df[['Pregnancies','SkinThickness']]

In [ ]:
# 3 minute exercise
# Return a dataframe with 'Age', 'Insulin', and 'Outcome'
df[['Age','Insulin','Outcome']]

## **Filter Columns**

### **Single Parameter**

In [ ]:
# Filter rows by outcome

outcome_1 = df[df['Outcome']==1]
outcome_1

In [ ]:
df['Outcome']==1

In [ ]:
# Filter rows by SkinThickness > 30

skinthickness_30 = df[df['SkinThickness']>30]

skinthickness_30

### **2 Different Parameters**

In [ ]:
# 5 minute exercise
# Return all rows with Glucose greater than 100 (exclusive) and less than 130 (exclusive)
filtered_df = df[(df['Glucose'] > 100) & (df['Glucose'] < 130)]
filtered_df

In [ ]:
glucose_g100 = df[df['Glucose']>100]
glucose_g100

glucose_g100_l130 = glucose_g100[glucose_g100['Glucose']<130]
glucose_g100_l130

### **isin() Syntax**

In [ ]:
# Using the 'isin keyword'

pregnancies = [0, 1, 2]

pregnancies_2 = df[df["Pregnancies"].isin(pregnancies)]

pregnancies_2

In [ ]:
# 5 minute exercise
# Use the isin keyword to return rows in which Age = 30, 31, or 32

ages = [30, 31, 32]

ages_30_31_32 = df[df["Age"].isin(ages)]

ages_30_31_32

## **Predictions**

In [ ]:
## Mini project
# Client wants to know: Does high blood glucose increase the chances of diabetes (outcome=1)?

# 5 minute exercise
# Discuss how you would answer this question given the dataset
# Write down your approach
# You do not need to write any code

# Avg glucose when Outcome is 0 (no diabetes)
avg_glucose_outcome_0 = df[df['Outcome'] == 0]['Glucose'].mean()

# Avg glucose when Outcome is 1 (diabetes)
avg_glucose_outcome_1 = df[df['Outcome'] == 1]['Glucose'].mean()

# Print out the results
print("Average Glucose when Outcome is 0:", avg_glucose_outcome_0)
print("Average Glucose when Outcome is 1:", avg_glucose_outcome_1)

In [ ]:
# Compare people with low glucose to people with high glucose

glucose_cutoff = 120

# Low glucose, no diabetes
l_glu_no_diab = df[(df['Glucose'] < glucose_cutoff) & (df['Outcome'] == 0)].shape[0]
print("Number of people with low glucose and no diabetes")
print(l_glu_no_diab)

# Low glucose, diabetes
l_glu_diab = df[(df['Glucose'] < glucose_cutoff) & (df['Outcome'] == 1)].shape[0]
print("Number of people with low glucose and diabetes")
print(l_glu_diab)

# High glucose, no diabetes
h_glu_no_diab = df[(df['Glucose'] >= glucose_cutoff) & (df['Outcome'] == 0)].shape[0]
print("Number of people with high glucose and no diabetes")
print(h_glu_no_diab)

# High glucose, diabetes
h_glu_diab = df[(df['Glucose'] >= glucose_cutoff) & (df['Outcome'] == 1)].shape[0]
print("Number of people with high glucose and diabetes")
print(h_glu_diab)

# Percentage of people with low glucose with diabetes
l_glu_diab_perc = l_glu_diab/(l_glu_no_diab+l_glu_diab)

# Percentage of people with high glucose with diabetes
h_glub_diab_perc = h_glu_diab/(h_glu_no_diab+h_glu_diab)

# Print results
print("Percentage of people with LOW glucose with diabetes")
print(l_glu_diab_perc)
print("Percentage of people with HIGH glucose with diabetes")
print(h_glub_diab_perc)

## **Visualization**

In [ ]:
# 5 minute exercise
# Rerun with a higher glucose_cutoff
# Explain each number
# What is your conclusion? How would you explain it to a business?

In [ ]:
# Visualization

plt.figure(figsize=(10, 6))
plt.scatter(df[df['Outcome'] == 0]['Glucose'], df[df['Outcome'] == 0]['Outcome'], label='Outcome 0', alpha=0.5)
plt.scatter(df[df['Outcome'] == 1]['Glucose'], df[df['Outcome'] == 1]['Outcome'], label='Outcome 1', alpha=0.5, color='orange')

plt.title('Scatter Plot of Glucose Levels vs. Outcome')
plt.xlabel('Glucose Level')
plt.ylabel('Outcome')
plt.yticks([0, 1], ['Outcome 0', 'Outcome 1'])
plt.legend()

# Show the plot
plt.show()

In [ ]:
# Better Visualization
import seaborn as sns
import matplotlib.pyplot as plt

# Create the box plot
plt.figure(figsize=(10, 6))
sns.boxplot(x='Outcome', y='Glucose', data=df)

# Add titles and labels
plt.title('Comparison of Glucose Levels by Outcome')
plt.xlabel('Outcome')
plt.ylabel('Glucose Level')

# Show the plot
plt.show()

In [ ]:
# Create a dataframe

scores = [
    {'Subject':'Mathematics', 'Score':85, 'Grade':'B', 'Remarks': 'Good'},
    {'Subject':'History', 'Score':98, 'Grade':'A', 'Remarks': 'Excellent'},
    {'Subject':'English', 'Score':76, 'Grade':'C', 'Remarks': 'Fair'},
    {'Subject':'Science', 'Score':72, 'Grade':'C', 'Remarks': 'Fair'},
    {'Subject':'Arts', 'Score':95, 'Grade':'A', 'Remarks': 'Excellent'}
]

my_df = pd.DataFrame(scores)
my_df.head()

In [ ]:
# What is the type of scores?
type(scores)

In [ ]:
# 3 minute exercise
# Add another row with subject 'Python' to my_df

In [ ]:
# Print out second row
# Remember that numbering starts with 0
print(my_df.loc[1])

In [ ]:
# Print out a sequence of rows
my_df.loc[2:4]

In [ ]:
# Show only Grade and Score

my_df.loc[2:4, ["Grade","Score"]]

In [ ]:
# Add an index to dataframe

scores = [
    {'Subject':'Mathematics', 'Score':85, 'Grade':'B', 'Remarks': 'Good'},
    {'Subject':'History', 'Score':98, 'Grade':'A', 'Remarks': 'Excellent'},
    {'Subject':'English', 'Score':76, 'Grade':'C', 'Remarks': 'Fair'},
    {'Subject':'Science', 'Score':72, 'Grade':'C', 'Remarks': 'Fair'},
    {'Subject':'Arts', 'Score':95, 'Grade':'A', 'Remarks': 'Excellent'}
]

my_df = pd.DataFrame(scores, index=["Student1", "Student2", "Student3","Student4", "Student5"])
my_df

In [ ]:
my_df.loc["Student1"]

In [ ]:
# Reference multiple rows

index_list = ["Student1","Student2"]
my_df.loc[index_list]

In [ ]:
# Return only Grade column
my_df.loc["Student1", "Grade"]

In [ ]:
# Return a range of students, Grade only

my_df.loc["Student1":"Student3","Grade"]

In [ ]:
# Multiple Boolean conditions

my_df.loc[(my_df["Score"]>80) & (my_df["Remarks"] == "Excellent")]

In [ ]:
# Return only certain columns

my_df.loc[(my_df["Score"]>80) & (my_df["Remarks"] == "Excellent"), ["Score","Grade"]]

In [ ]:
# Can set values!

print(my_df)

my_df.loc["Student4"] = 90

print(my_df)

In [ ]:
# 5 minute exercise
# Change the Score of Student 3 to 97

print(my_df)
my_df.loc["Student3", "Score"] = 97
print(my_df)

In [ ]:
# loc is index based
# iloc is integer based

In [ ]:
# Define new scores

scores = [
    {'Subject':'Mathematics', 'Score':85, 'Grade':'B', 'Remarks': 'Good'},
    {'Subject':'History', 'Score':98, 'Grade':'A', 'Remarks': 'Excellent'},
    {'Subject':'English', 'Score':76, 'Grade':'C', 'Remarks': 'Fair'},
    {'Subject':'Science', 'Score':72, 'Grade':'C', 'Remarks': 'Fair'},
    {'Subject':'Arts', 'Score':95, 'Grade':'A', 'Remarks': 'Excellent'}
]

my_df = pd.DataFrame(scores)
my_df

In [ ]:
# Return 3rd (remember 0 based)

my_df.iloc[3]

In [ ]:
# Return as DataFrame

my_df.iloc[[3]]

In [ ]:
print(type(my_df.iloc[3]))
print(type(my_df.iloc[[3]]))

In [ ]:
# Return a range
my_df.iloc[2:5]

In [ ]:
# Select rows and columns

my_df.iloc[[2,3],[0,1]]

In [ ]:
# Can pass a range

my_df.iloc[2:4, 0:2]

## Dropping Rows and Columns

In [ ]:
scores = [
    {'Subject':'Mathematics', 'Score':85, 'Grade':'B', 'Remarks': 'Good'},
    {'Subject':'History', 'Score':98, 'Grade':'A', 'Remarks': 'Excellent'},
    {'Subject':'English', 'Score':76, 'Grade':'C', 'Remarks': 'Fair'},
    {'Subject':'Science', 'Score':72, 'Grade':'C', 'Remarks': 'Fair'},
    {'Subject':'Arts', 'Score':95, 'Grade':'A', 'Remarks': 'Excellent'}
]

my_df = pd.DataFrame(scores)
my_df

In [ ]:
# Drop 1 and 4 rows

my_df2 = my_df.drop([1,4])
my_df2

In [ ]:
# Reset the index

my_df2.reset_index(inplace=True) # inplace means to change dataframe, not return value
my_df2

In [ ]:
# Difference between inplace and not

print(my_df)
print(my_df.drop([1,3,4]))
print(my_df)

In [ ]:
# Now with inplace=True
print(my_df)
print(my_df.drop([1,3,4], inplace=True))
print(my_df)

In [ ]:
# Drop columns
scores = [
    {'Subject':'Mathematics', 'Score':85, 'Grade':'B', 'Remarks': 'Good'},
    {'Subject':'History', 'Score':98, 'Grade':'A', 'Remarks': 'Excellent'},
    {'Subject':'English', 'Score':76, 'Grade':'C', 'Remarks': 'Fair'},
    {'Subject':'Science', 'Score':72, 'Grade':'C', 'Remarks': 'Fair'},
    {'Subject':'Arts', 'Score':95, 'Grade':'A', 'Remarks': 'Excellent'}
]

my_df = pd.DataFrame(scores)
my_df

In [ ]:

my_df2 = my_df.drop(["Subject","Grade"], axis=1) # axis=1 specifies columns
my_df2

In [ ]:
# 2 minute exercise
# What happens if you rerun the code with axis=0?

## Filtering rows and columns

Keeps rows and columns. The opposite of drop.

In [ ]:
scores = [
    {'Subject':'Mathematics', 'Score':85, 'Grade':'B', 'Remarks': 'Good'},
    {'Subject':'History', 'Score':98, 'Grade':'A', 'Remarks': 'Excellent'},
    {'Subject':'English', 'Score':76, 'Grade':'C', 'Remarks': 'Fair'},
    {'Subject':'Science', 'Score':72, 'Grade':'C', 'Remarks': 'Fair'},
    {'Subject':'Arts', 'Score':95, 'Grade':'A', 'Remarks': 'Excellent'}
]

my_df = pd.DataFrame(scores)
my_df

In [ ]:
my_df2 = my_df.filter([1,3,4], axis=0)
my_df2

In [ ]:
# 5 minute exercise
# Rerun the code with axis=1
# Explain the results

In [ ]:
my_df2 = my_df.filter(["Score","Grade"],axis=1)
my_df2

In [ ]:
# Match substring
my_df[my_df['Subject'].str.contains('is')]

## Sorting

In [ ]:
df.head()

In [ ]:
# Sort by age
df_sorted = df.sort_values(by='Age')
df_sorted.head()

In [ ]:
# Descending order?
df_descending = df.sort_values(by='Age', ascending=False)
df_descending

In [ ]:
# 5 minute exercise
# What is the index of the row with the highest blood pressure?

In [ ]:
# Sort by multiple keys. If two rows are equal per the first key, then sort by the second key.

df_sort2 = df.sort_values(by = ['Age','BloodPressure'])
df_sort2.head()

## Descriptive statistics

In [ ]:
# Descriptive statistics for entire dataframe

df.describe()

In [ ]:
# 5 minute exercise
# What does each row mean?

In [ ]:
# Single column statistics

df['Pregnancies'].describe()

In [ ]:
# Find the unique values
df['Age'].unique()

In [ ]:
# Find the number of unique values
df['Age'].nunique()

In [ ]:
# Count non-null values

df.count()

In [ ]:
# How many people are there of each age?

df['Age'].value_counts()

In [ ]:
# Plot number of people of each age
age_counts = df['Age'].value_counts()

age_counts.plot(kind='bar')

In [ ]:
# 5 minute exercise
# How many people have 3 pregnancies?

In [ ]:
# 5 minute exercise
# Plot the number of pregnancies by age

In [ ]:
# 5 minute exercise
# Use Text to add titles to the first part of this file